# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Test output files
junit.xml
report.json
test-results/

# metadata about tests
.openshift-tests-extension/openshift_payload_*.json

_output/
.idea
cluster-config-operator
/cluster-config-operator-tests-ext
